

/* -----------------------------Font----------------------------- */

@font-face {
  font-family: wix2;
  src: url(/fonts/wix2.ttf);
}

@font-face {
  font-family: wix;
  src: url(/fonts/wix.ttf);
}
@font-face {
  font-family: switzer;
  src: url('/fonts/switzer.ttf');
}

@font-face {
  font-family: switzer2;
  src: url('/fonts/switzer2.ttf');
}



/* -----------------------------Font----------------------------- */



@import "tailwindcss";


@theme{
    --font-wix2 : wix2, "san-serif";
    --font-wix : wix, "san-serif";
    --font-switzer : switzer, "san-serif";
   


    
    
  }




  
  
  /* -----------------------------Colors----------------------------- */


@layer base {
  :root {
    --color-orange: #ff6d10;       /* orange */
    --color-text: #000000 ;        /* black */
    --color-bg: #ffffff;           /* white */
    
  }

  .dark {
    --color-orange: #ff6d10;    /* orange  */
    --color-text: #ffffff;      /* white */
    --color-bg: #000000;        /* black */
    
  }

  /* Optional: smooth color transition */
  * {
    @apply transition-colors duration-300;
  }
}





  /* -----------------------------Colors----------------------------- */
